@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreRegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreSemiboldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Calibre";
  src: url("../assets/fonts/CalibreBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
