@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* COLORS */
    --brand-50: 165.93 100.00% 31.76%; /* #00a27c, rgb(0, 162, 124) */
    --brand-100: 165.85 100.00% 24.12%; /* #007b5e, rgb(0, 123, 94) */
    --brand-200: 165.95 100.00% 21.76%; /* #006f55, rgb(0, 111, 85) */
    --brand-300: 165.92 100.00% 19.22%; /* #00624b, rgb(0, 98, 75) */
    --brand-400: 166.05 100.00% 16.86%; /* #005642, rgb(0, 86, 66) */
    --brand-500: 165.41 100.00% 14.51%; /* #004a38, rgb(0, 74, 56) */
    --brand-600: 165.48 100.00% 12.16%; /* #003e2f, rgb(0, 62, 47) */
    --brand-700: 166.53 100.00% 9.61%; /* #003126, rgb(0, 49, 38) */
    --brand-800: 165.41 100.00% 7.25%; /* #00251c, rgb(0, 37, 28) */
    --brand-900: 165.60 100.00% 4.90%; /* #001913, rgb(0, 25, 19) */

    --gray-50: 0.00 100.00% 99.02%; /* #fffafa, rgb(255, 250, 250) */
    --gray-100: 0.00 7.69% 87.25%; /* #e1dcdc, rgb(225, 220, 220) */
    --gray-200: 345.00 3.23% 75.69%; /* #c3bfc0, rgb(195, 191, 192) */
    --gray-300: 330.00 2.20% 64.31%; /* #a6a2a4, rgb(166, 162, 164) */
    --gray-400: 320.00 1.27% 53.53%; /* #8a8789, rgb(138, 135, 137) */
    --gray-500: 330.00 0.91% 43.14%; /* #6f6d6e, rgb(111, 109, 110) */
    --gray-600: 300.00 1.19% 32.94%; /* #555355, rgb(85, 83, 85) */
    --gray-700: 270.00 1.67% 23.53%; /* #3c3b3d, rgb(60, 59, 61) */
    --gray-800: 270.00 2.70% 14.51%; /* #252426, rgb(37, 36, 38) */
    --gray-900: 240.00 6.67% 5.88%; /* #0e0e10, rgb(14, 14, 16) */

    --red-50: 351.37 82.02% 65.10%; /* #ef5d72, rgb(239, 93, 114) */
    --red-100: 351.07 82.35% 60.00%; /* #ed455e, rgb(237, 69, 94) */
    --red-200: 351.06 81.74% 54.90%; /* #ea2e4a, rgb(234, 46, 74) */
    --red-300: 351.10 81.96% 50.00%; /* #e81736, rgb(232, 23, 54) */
    --red-400: 351.06 81.74% 45.10%; /* #d11531, rgb(209, 21, 49) */
    --red-500: 351.07 82.35% 40.00%; /* #ba122b, rgb(186, 18, 43) */
    --red-600: 350.96 82.02% 34.90%; /* #a21026, rgb(162, 16, 38) */
    --red-700: 351.36 81.70% 30.00%; /* #8b0e20, rgb(139, 14, 32) */
    --red-800: 351.35 81.25% 25.10%; /* #740c1b, rgb(116, 12, 27) */
    --red-900: 350.71 82.35% 20.00%; /* #5d0916, rgb(93, 9, 22) */

    /* THEME */
    --background: var(--gray-50);
    --foreground: var(--gray-900);
    --primary: var(--brand-300);
    --border: var(--gray-200);
    --input: var(--gray-200);
    --ring: var(--gray-900);
    --error: var(--red-700);
    --radius: 0.5rem;
  }

  .dark {
    --background: var(--gray-900);
    --foreground: var(--gray-50);
    --primary: var(--brand-400);
    --border: var(--gray-700);
    --input: var(--gray-700);
    --ring: var(--gray-200);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    min-height: 100vh;
    @apply bg-background text-foreground;
    @apply scroll-smooth;
    @apply transition-[background];
    @apply ease-in;
    @apply duration-300;
  }
}
