@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --brand-50: 0 162 124;
        --brand-100: 0 123 94;
        --brand-200: 0 111 85;
        --brand-300: 0 98 75;
        /* #005642 */
        --brand-400: 0 86 66; 
        --brand-500: 0 74 56; 
        --brand-600: 0 62 47;
        --brand-700: 0 49 38;
        --brand-800: 0 37 28;
        --brand-900: 0 25 19;
        
        --gray-50: 255 250 250;
        --gray-100: 225 220 221;
        --gray-200: 195 191 192;
        --gray-300: 166 162 164;
        --gray-400: 138 135 137;
        --gray-500: 111 109 110;
        --gray-600: 85 83 85;
        --gray-700: 60 59 61;
        --gray-800: 37 36 38;
        --gray-900: 14 14 16;

        --red-50: 239 93 114;
        --red-100: 237 69 94;
        --red-200: 234 46 74;
        --red-300: 232 23 54;
        --red-400: 209 21 49;
        --red-500: 186 18 43;
        --red-600: 162 16 38;
        --red-700: 139 14 32;
        --red-800: 116 12 27;
        --red-900: 93 9 22;
      }

    html, body {
        @apply bg-background text-content;
        @apply scroll-smooth;
        @apply transition-[background];
        @apply ease-in;
        @apply duration-300;
    }

    html {
        --primary: var(--brand-300);
        --background: var(--gray-50);
        --content: var(--gray-900);
        --ghost: var(--gray-100);
        --ghost-hover: var(--gray-200);
        --error: var(--red-700);
    }

    html.dark {
        --primary: var(--brand-400);
        --background: var(--gray-900);
        --content: var(--gray-50);
        --ghost: var(--gray-800);
        --ghost-hover: var(--gray-700);
        --error: var(--red-500);
    }

    body {
        @apply transition-[background,color,border-color];
    }

}

@layer components {
    .container {
        @apply w-full mx-auto max-w-3xl px-8;
    }

    .subheader {
        @apply text-3xl;
        @apply font-semibold;
        @apply mb-4;
    }
}

#__next {
    min-height: 100vh;
}



