#about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

#desc-container {
  flex-basis: 65%;
}

#about-img-container {
  flex-basis: 30%;
  .about-img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    border: 5px solid;
    transition: border-color 0.3s linear;
  }
}

#interests-and-toolbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#interests {
  flex-basis: 35%;
}

#toolbox {
  flex-basis: 60%;
}

.interests-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .interest {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.25rem;
  }
}

.interest-icon-container {
  flex-basis: 20%;
}

.interests-svg {
  transition: fill 0.3s linear;
  width: auto;
  height: 18px;
  // margin-right: 10px;
}

.toolbox-entry {
  strong {
    font-weight: 600;
  }
  margin-bottom: 0.25rem !important;
  &:nth-last-child(2) {
    margin-bottom: 0 !important;
  }
}
