.timeline {
  padding: 1rem 0;
  &:before {
    background-color: rgba(160, 160, 160, 0.3);
    transition: background-color 0.3s linear;
  }
  .timeline-element {
    margin-bottom: 1rem;
    margin-top: 2rem;
    .timeline-element-content {
      position: relative;
      background: transparent;
      border: none;
      box-shadow: none;
      padding: 2px 5px 0 12px;
      opacity: 0.85;
      transition: opacity 0.3s linear;
      h1 {
        font-size: 22px;
        font-weight: 500;
        margin: 0;
        transition: color 0.3s linear;
      }
      h2 {
        font-size: 16px;
        font-weight: 400;
        transition: color 0.3s linear;
      }
      h3 {
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        margin: -0.25rem 0 0.5rem 0;
        transition: color 0.3s linear;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 0.5rem 0;
        transition: color 0.3s linear;
        padding-left: 36px;
        text-indent: -36px;
        line-height: 1.15;
        strong {
          font-weight: 500;
        }
      }
      .experience-svg {
        height: 40px;
        max-width: 95%;
        margin-bottom: 0.75rem;
        width: auto;
        transition: fill 0.3s linear;
        &.smaller {
          height: 30px;
        }
      }
    }
    .timeline-element-icon {
      box-shadow: none;
      width: 20px;
      height: 20px;
      left: 10px;
      top: 10px;
      border: 4px solid transparent;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      transition: left 0.3s linear, top 0.3s linear, width 0.3s linear,
        height 0.3s linear, background-color 0.3s linear, box-shadow 0.3s linear;
      svg {
        width: 0;
        height: 0;
        opacity: 0;
        margin-left: 0;
        margin-top: 0;
        transform: translate(-50%, -50%);
        transition: fill 0.3s linear, width 0.3s linear, height 0.3s linear,
          opacity 0.3s linear;
      }
    }
    .timeline-element-date {
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      padding: 0.25rem 0;
    }
    &:hover {
      &:before {
        background-color: rgba(160, 160, 160, 0.8);
      }
      .timeline-element-content {
        opacity: 1;
        .experience-svg {
          fill: var(--green);
        }
      }
      .timeline-element-icon {
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        background-color: var(--green);
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2);
        svg {
          width: 18px;
          height: auto;
          opacity: 1;
        }
      }
    }
  }
}
