.interest-display {
  border-radius: 8px;
  border: solid 1px rgba(160, 160, 160, 0.3);
  margin-bottom: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  text-align: center;
  overflow: hidden;
  transition: border-color 0.3s linear;
  &:hover {
    border-color: rgba(160, 160, 160, 0.8);
    .interest-icon {
      fill: var(--green);
      opacity: 0;
      height: 200% !important;
    }
    .interest-title,
    .interest-overlay,
    .interest-img-container {
      opacity: 1;
    }
  }
  .interest-title {
    opacity: 0.85;
    transition: all 0.3s linear;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -5px;
    position: relative;
    z-index: 50;
  }
  .interest-icon {
    position: absolute;
    z-index: 49;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: auto;
    transition: all 0.5s linear;
    &.smaller {
      height: 75%;
    }
  }
  .interest-overlay {
    position: absolute;
    z-index: 48;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: background-color 0.3s linear, opacity 0.5s linear;
  }
  .interest-img-container {
    position: absolute;
    z-index: 47;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear;
    .interest-img {
      height: 100%;
    }
  }
}
