#navbar {
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  height: 45px;
  z-index: 9999;
  &.at-home {
    border-bottom-color: transparent;
    background-color: transparent;
    background-image: none;
    height: 80px;
    #nav-links {
      width: 90%;
    }
  }
}

#navbar-content {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#navbar-brand,
#navbar-toggle-container,
#nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  transition: width 0.3s linear;
}

.nav-links {
  position: absolute;
  z-index: 90;
  width: 500px;
  top: 62vh;
  left: 50%;
  transform: translate(-50%, -50%);

  border-bottom: 1px transparent solid;
  transition: all 1s ease;

  #navbar-background {
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    background-color: transparent;
    opacity: 0;
    z-index: 88;
    transition: opacity 0.3s linear, background-color 1s linear;
  }

  &.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 1rem;
    transform: translateX(-50%);

    #navbar-underline {
      opacity: 1;
      transition: all 0.55s cubic-bezier(0.28, 1.45, 0.26, 0.99),
        opacity 1s linear;
    }
  }

  #navbar-underline {
    position: absolute;
    height: 5px;
    width: 150px;
    bottom: -2px;
    opacity: 0;
    z-index: 89;
    background-color: var(--green);
    transition: opacity 0.3s linear;
  }
}
