#navbar {
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  height: 45px;
  z-index: 9999;
  backdrop-filter: saturate(180%) blur(10px);
  transition: all 0.3s linear;
  &.at-home {
    backdrop-filter: none;
    border-bottom-color: transparent;
    background-color: transparent;
    background-image: none;
    height: 80px;
    #nav-links {
      width: 85%;
    }
    #navbar-brand {
      opacity: 0;
      pointer-events: none;
    }
  }
  @media screen and (max-width: 768px) {
    &.open {
      border-bottom-color: transparent;
      height: 45px;
      #navbar-brand {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

#navbar-content {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#navbar-brand-container,
#navbar-toggle-container,
#nav-links-container,
#navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

#nav-links {
  max-width: 820px;
  min-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  transition: width 0.2s linear;
}

#navbar #nav-links-container {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 9998;
    height: 0;
    opacity: 0;
    overflow: hidden;
    align-items: flex-start;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.3s linear;
    &.show {
      backdrop-filter: saturate(180%) blur(10px);
      height: calc(100vh - 45px);
      opacity: 1;
    }
    #nav-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 90%;
    }
  }
}

#navbar-brand-container {
  min-width: 59px;
}

#navbar-toggle-container {
  min-width: 65px;
}

#navbar-brand {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 0;
  transition: all 0.3s linear;
  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--green);
    text-shadow: 0px 0px 3px var(--green);
  }
  &:active {
    transform: scale(0.9);
  }
}

#navbar-toggler {
  border: none;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 10000;
  min-width: 50px;
  #toggler-icon {
    width: 20px;
    height: 2px;
    box-shadow: none;
    background-color: transparent;
    position: relative;
    transition: box-shadow 0.3s linear, background-color 0.3s linear;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      top: 0;
      transition: all 0.3s linear;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(135deg);
    }
  }
  &:hover,
  &:focus {
    #toggler-icon {
      background-color: transparent;
      box-shadow: none;
      &:before,
      &:after {
        background-color: var(--green);
        box-shadow: 0 0 4px 0 var(--green);
      }
    }
  }
  &.collapsed {
    #toggler-icon {
      &:before,
      &:after {
        transform: rotate(0);
      }
      &:before {
        top: -5px;
      }
      &:after {
        top: 5px;
      }
    }
    &:hover,
    &:focus {
      #toggler-icon {
        background-color: var(--green);
        box-shadow: 0 0 4px 0 var(--green);
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: flex;
  }
}
