.nav-links {
  position: absolute;
  z-index: 90;
  width: 500px;
  top: 62vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px transparent solid;
  transition: all 1s ease;

  #navbar-background {
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    background-color: transparent;
    opacity: 0;
    z-index: 88;
    transition: opacity 0.3s linear, background-color 1s linear;
  }

  &.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 1rem;
    transform: translateX(-50%);

    #navbar-underline {
      opacity: 1;
      transition: all 0.55s cubic-bezier(0.28, 1.45, 0.26, 0.99),
        opacity 1s linear;
    }
  }

  #navbar-underline {
    position: absolute;
    height: 5px;
    width: 150px;
    bottom: -2px;
    opacity: 0;
    z-index: 89;
    background-color: var(--green);
    transition: opacity 0.3s linear;
  }
}
