.nav-links {
  position: absolute;
  z-index: 90;
  width: 500px;
  top: 62vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px transparent solid;
  transition: all 0.6s ease;

  &.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 1rem;
    transform: translateX(-50%);
    transition: background-color 0.3s linear, border-color 0.3s linear,
      top 0.6s ease, width 0.6s ease, transform 0.6s ease;
  }
}
