.project-card {
  margin-bottom: 16px;
  opacity: 0.8;
  transition: opacity 0.3s linear;
  .project-img-container {
    position: relative;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    .project-img {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: auto;
      transition: height 0.3s linear;
    }
    .project-img-shadow-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 101;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 -30px 40px -30px rgba(0, 0, 0, 0.8);
      transition: background-color 0.3s linear;
    }
  }
  .project-content-container {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1.5rem;
    backdrop-filter: saturate(150%) blur(1px);
    transition: background-color 0.3s linear, box-shadow 0.3s linear;
    h1 {
      font-size: 22px;
      font-weight: 500;
      margin: 0 0 0.5rem 0;
      transition: color 0.3s linear, text-shadow 0.3s linear;
    }
    h2 {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0.5rem;
      transition: color 0.3s linear;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      margin: 0 0 1rem 0;
      padding-left: 36px;
      text-indent: -36px;
      line-height: 1.15;
      transition: color 0.3s linear;
      strong {
        font-weight: 500;
      }
    }
    .project-links {
      margin: 0 -4px;
      .project-link {
        padding: 0 4px;
      }
    }
  }
  &:hover {
    opacity: 1;
    .project-img-container {
      .project-img {
        height: 105%;
      }
      .project-img-shadow-overlay {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    .project-content-container {
      h1 {
        color: var(--green);
        text-shadow: 0 0 2px var(--green);
      }
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    .project-content-container {
      .project-links {
        margin: 0 -8px;
        .project-link {
          padding: 0 8px;
        }
      }
    }
  }
}
